.app-container{
    max-width: 600px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.pos-switch{
    margin: 10px auto 20px auto;
    color: rgb(25, 135, 84);
    background-color: white;
    border: 0;
    font-size:medium;
    text-decoration: underline;
    cursor: pointer;
}

.welcome-message-top{
    text-align: center;
    color: gray;
    margin: 0;
}

.welcome-message-bottom{
    text-align: center;
    color: gray;
    margin-top:20px;   
}